Trong phần này, ta sẽ xem xét các yếu tố ảnh hưởng đến thành công của phim (Revenue, Vote Average). Các biến được phân tích: Runtime, Genre, Country, Budget.

In [4]:
import pandas as pd
import sys
sys.path.append("../src") 
import clean_data

df = clean_data.DocFile('../src/movies_2009_2023.csv')
df.head()

AttributeError: 'DataFrame' object has no attribute 'haed'

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 600 non-null    int64
 1   title              600 non-null    object
 2   release_date       600 non-null    object
 3   vote_average       600 non-null    float64
 4   vote_count         600 non-null    int64
 5   popularity         600 non-null    float64
 6   original_language  600 non-null    object
 7   budget             600 non-null    int64
 8   revenue            600 non-null    int64
 9   runtime            600 non-null    int64
 10  status             600 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 51.7+ KB

,id,vote_average,vote_count,popularity,budget,revenue,runtime
count,6.000000e+02,600.000000,600.000000,600.000000,6.000000e+02,6.000000e+02,600.000000
mean,3.593721e+05,6.686365,6379.650000,13.506734,6.710019e+07,2.844058e+08,108.258333
std,2.993840e+05,1.209511,7136.667853,10.850347,8.484540e+07,4.076573e+08,28.279518
min,1.890000e+02,0.000000,0.000000,6.108600,0.000000e+00,0.000000e+00,0.000000
25%,8.188750e+04,6.151500,109.000000,8.954825,0.000000e+00,0.000000e+00,92.000000
50%,3.241090e+05,6.800000,4305.500000,11.029450,2.800000e+07,9.975323e+07,106.500000
75%,5.296310e+05,7.416500,10055.750000,14.078850,1.100000e+08,4.146852e+08,124.000000
max,1.466016e+06,10.000000,37990.000000,161.015700,5.839000e+08,2.923706e+09,242.000000

1. Thông tin tổng quan:
   - Dataset có tổng cộng 2278 phim với 18 cột thông tin
   - Kích thước Dataset tương đối nhỏ (~305 KB)
   - Các cột dữ liệu bao gồm:
     + Thông tin phim: Id (mã phim)
                       Title (Tiêu đề phim)
                       Original Title (Tiêu đề gốc)
                       Original Language (Ngôn ngữ gốc)
                       Overview (Tổng quan phim)
                       Popularity (Mức độ phổ biến)
                       Runtime (Thời lượng phim)
                       Release Date (Ngày phát hành)
                       Adult (Trưởng thành 0|1)
                       Genres (Thể loại)
                       Spoken Languages (Ngôn ngữ nói)
                       Status (Trạng thái)
     + Sản xuất: Production Companies (Công ty sản xuất)
                 Production Countries (Quốc giác sản xuất)
     + Tài chính: Revenue (Doanh thu)
                  Budget (Ngân sách/Vốn)
     + Đánh giá: Vote Average (Lượt đánh giá trung bình)
                 Vote Count (Số lượt đánh giá)
2. Chất lượng dữ liệu
   - Dữ liệu thiếu (null/nan)
     + Overview: còn thiếu 128 giá trị
     + Release Date: thiếu 23 giá trị
     + Các cột khác không thiếu nhưng vẫn còn chứa giá trị 0
=> Cần làm sạch dữ liệu
3. Giá trị bất thường:
   - Budget và Revenue còn rất nhiều giá trị 0 (không hợp lý)